<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Visualizer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/sorting.css">
</head>
<body>
<header>
        <nav>
            <div class="logo">
                <a href="../index.html">Vis<span>ualiser</span></a>
            </div>
            <ul>
                <li><a href="#"><button id="newArray" type="button" class="newArray">Generate Array</button></a></li>
                <li>
                    <div class="col" id="input">
                        <div id="size">Size
                            <input id="arr_sz" type="range" min="20" max="140" step=1 value=100>
                        </div>
                        <div id="speed">Speed
                            <input id="speed_input" type="range" min="30" max="400" stepDown=10 value=100>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#"><button class="bubbleSort" >Bubble Sort</button></a>
                </li>
                <li>
                    <a href="#"><button class="selectionSort">Selection Sort</button></a>
                </li>
                <li>
                    <a href="#"><button class="insertionSort" >Insertion Sort</button></a>
                </li>
                <li>
                    <a href="#"><button class="quickSort">Quick Sort</button></a>
                </li>
                <li>
                    <a href="#"><button class="mergeSort" >Merge Sort</button></a>
                </li>
            </ul>

        </nav>
    </header>

            <div class="box" style="margin: 0; padding: 0">
                
                <div id="bars" class="flex-container"></div>
            </div>
           

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="../js/sorting/bubble.js"></script>
    <script src="../js/sorting/insertion.js"></script>
    <script src="../js/sorting/merge.js"></script>
    <script src="../js/sorting/quick.js"></script>
    <script src="../js/sorting/selection.js"></script>
    <script src="../js/sorting/sorting.js"></script>
</span>
</body>

</html>